$title-text-color: #dc56c5;
$subtitle-text-color: #ffffff;
$modal-text: #0e0e0e;
$modal-button: #4c00fe;
$modal-background: #fff2fd;
$footer-text-color: #939393;
$footer-text-shadow: rgba(0, 0, 0, 0.25);
$elements-border-color: #212121;
$input-color: #e0dbdb;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-montserrat: 'Montserrat', sans-serif;
